ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;

  list-style: none;
}

li {
  padding: 10px;
  width: 250px;
  max-width: 250px;
  max-height: 400px;
}

.card {
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 1rem;
  width: 100%;
  height: 100%;
  box-shadow: 5px 5px 10px #ccc;
  display: flex;
}

.card > img {
  width: 70%;
  height: 100%;
}

.card h3 {
  margin: 0;
  padding: 5px;
}

.card p {
  padding: 5px;
}
